<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dowellcomputer.fcmexample.fcmexample">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>



    <application

        android:allowBackup="true"
        android:icon="@drawable/medicine"
        android:label="구급상자로봇"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx">
        <activity android:name=".MedCheckActivity"></activity>
        <activity android:name=".Med_q_Activity" />
        <activity android:name=".Menu_q_Activity" />
        <activity android:name=".TimeSettingActivity" />
        <activity android:name=".PatientImgActivity" />
        <activity android:name=".MednumInfo"
            android:theme="@style/popuptheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FirebaseMessagingService">
            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>




    </application>

</manifest>